#d1{background-image: url('tlo.png'); height: 50px; width: 850px; margin: auto; padding:20px; text-align: center;}
#d2{background-color: #808080; height: 30px; width: 850px; margin: auto; padding:20px;}
#d3{background-image: url('tlo.png'); height: 400px; width: 850px; margin-top: 0px; margin: auto; padding:20px;}
#d4{background-color: silver; height: 400px; width: 200px; float: right; margin: 670px; margin-top: 0px; margin: auto; padding:20px;} 
#d5{background-color: #808080; height: 30px; width: 850px; margin: auto; padding:20px;}
#zdj {height: 250px; width: 250px; padding:20px;}
#body {font-family: Times New Roman;}
h1{color: silver;}
h3{color: silver;}
a {
	 

     text-decoration: none; 
	 color: silver;
	 font-size:21px;

     }
	 