* {
	box-sizing: border-box;
}

header, main, nav, article, aside, footer {
	display: block;
}

html {
	font-size: 62.5%;
}

body{
	margin: 3rem;
	background-image: url('lightpaperfibers/lightpaperfibers_@2X.png'); /* Background pattern from Toptal Subtle Patterns */
	color: rgb(46, 46, 46);
	/*font-size: 1.6rem; */
	font-family: 'PT Serif', serif;
	/* font-family: 'Playfair Display', serif; */
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 5rem;
}

p {
	font-size: 2rem;
}